body{
    background-color:#dadfe1;
}
.center{
    margin: 0 auto;
    width:450px;
}
#table{
	margin-top:74px;
    padding-top: 10px;
    margin-bottom: 50px;
}
#col{
     background-color:#000000;
     opacity:0.8;
     height:60px;
     width:100%;
     position:absolute;
     top:0;
     left:0;
}
#page-title{
    font-weight:bold;
    margin-top:15px;
    font-size: 25px;
    font-family: Arial;
    color: #f8f8f8;
}
form{
	font-family:Arial;
    font-size: 20px;
    font-weight: bold;
}

h1{
	color:#F8F8F8;
}
#footer{
     background-color:#000000;
     opacity:0.8;
     height:40px;
     width:100%;
     position:fixed;
     bottom:0;
     right:0;
     font-family:Arial;
     color:#F8F8F8;
     font-weight: bold;
     font-size:12px;
}
#checkbox{
	position:absolute;
	left:25%;
}
.btn{
	padding:2px 2px 5px 5px;
    border-radius:7px;
    border-style:double;
    border-color:#FFFFFF;
    border-width:thick;
    outline-style:none;
    font-family:Arial;
    font-size:27px;
    font-weight:bold;
     background-color:#000000;
     opacity:0.8;
    right:152px;
    color:#F8F8F8;
    text-decoration:none;
}
.btn:hover{
    opacity:1.0;
}
.field{
  border-radius: 50px;
  padding: 10px;
  padding-right: 25px;
}
#spann{
  color: #f22613;
  font-size: 13px;
}
