body{
  margin: 0px;
  padding: 0px;
  font-family: arial;
  background-image: url("../images/log.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #262626;
  opacity: 0.8;
  text-align: center;
}
.box h1{
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"],.box input[type="password"]{
  border: 0px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498DB;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
  width: 280px;
  border-color: #2ECC71;
}
.box input[type="submit"]{
  border: 0px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 17px;
  border: 2px solid #2ECC71;
  padding: 14px 10px;
  width: 120px;
  outline: none;
  color: #FFFFFF;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover{
  background: #2ECC71;
}
#out{
  color: #FFFFFF;
  font-size: 18px;
}
#spn{
  color: #f22613;
  font-size: 13px;
}
